/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
      
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }

    .signup {
        margin-left: -10px;
    }

    .lessons {
        flex-wrap: wrap;
        line-height: 20px;
        width: 600px;
      margin-left: 40px;
    }

    .card {
        margin-left: 20px;
        width: 25%;
        margin-right: 20px;
    }

    .heading1 {
        margin-left: -90px;
    }

    .column {
        flex-wrap: wrap;
        width: 100%;
        margin-left: -20px;
    }

    .card1 {
        margin-top: -50px;
        margin-bottom: -200px;
        width: 103%;
    }

    .row {
        line-height: 10px;
    }
    footer {
        flex-direction: column;
    }
    .footer .footer-content {
        border: none;
    }

    .links {
      margin-left: 40px;
    }

    .about h1 {
        font-size: 13px;
    }

    .about p {
        font-size: 10px;
    }

    .footer .footer-content .footer-section {
        border: none;
        width: 5%;
    }

    .footer .footer-content h2 {
        font-size: 13px;
    }

    .footer .footer-content .links ul a {
        font-size: 10px;
        margin-left: -20px;
    }

    footer .footer-content .contact-form span {
      font-size: 10px;
    }
   
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    .header-right {
      display: none;
    }
    
    .menu-icon {
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 17px;
      line-height: 36px;
    }

    .top-wrapper h2 {
        font-size: 20px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

    .flip-box {
     float: none;
     margin-left: -100px;
     margin-bottom: 20px;
    }

    .card {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
    }

    .heading1 h2 {
        margin-left: 40px;
    }
    .lessons {
      margin-left: 150px;
    }

    .links {
      margin-left: -20px;
    }

    .footer-section .contact-form .kontak {
      font-size: 10px;
    }
  }